/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree
 */

 body {
  padding-top: 70px;
 }

 .form-control {
  text-align: center;
 }

 .weekend {
  background-color: #DBDBDB;
 }

 .weekend td {
    border-top: 1px solid #bdc3c7 !important;
 }

.today {
  background-color: #E66053;
}

#month td.day {
  width: 40px;
  text-align: center;
}



#month li > input {
  width: 100%;
}

#month li {
  width: 100%;
  padding: 2px;
}

#month li.saving {
  background-size: 40px 40px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
            transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
            transparent 75%, transparent);                    
  box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  color: #fff;
  animation: animatedBackground 5s linear infinite;
  -ms-animation: animatedBackground 5s linear infinite;
  -moz-animation: animatedBackground 5s linear infinite;
  -webkit-animation: animatedBackground 5s linear infinite;
  background-color: #999;
  color: #333;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -80px 0; }
}
@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -80px 0; }
}
@-ms-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -80px 0; }
}
@-moz-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -80px 0; }
}
