body {
  padding-top: 70px;
 }

#user-dropdown li:first-child {
  text-align: center;
  padding: 10px;
}

.current-month-field {
  text-align: center;
 }

.weekend {
  background-color: #DBDBDB;
 }

.weekend td {
    border-top: 1px solid #bdc3c7;
 }

.today {
  background-color: #13987e;
  color: #fff;
  input {
    color: white;
  }
}

#month {
  ul, li {
    margin: 0;
    padding: 0;
  }

  td.day {
    width: 40px;
    text-align: center;
  }

  td.task {
    padding-left: 16px;
  }

  li > input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: 0;
  }

  li {
    width: 100%;
  }

  li.saving {
    opacity: 0.2;
    // TODO: Add just a spinner in the end of the line
  }

  li.error {
    background-color: #f00;
    transition: 0.2s;
  }
}

